* {
    background-color: rgb(189, 177, 111);
    padding: 0%;
    margin: 0%;
}

.navbar { 
    height: 125px;
    width: auto;
    margin: 15px;
    background-color: white;
    font-family: 'Kalam', cursive;
}

.menu {
    display: inline;
    background-color: white;
    margin: 15px;
    position: relative;
    left: 850px;
    top: 65px;
}

.imglogo { 
    max-width: 100px;
    max-height: 100px;
}

.logo { 
    display: inline;
    position: relative;
    left: 50px;
}

.menu:hover {
    color:  rgb(189, 177, 111);
}